<div  class="panel panel-default"
    ng-class="{
        'panel-success' : sale.status == 'Finalizado',
        'panel-warning' : sale.status == 'Pagado',
        'panel-info' : sale.status == 'Enviando',
        'panel-danger' : sale.status == 'Cancelado'
    }">
    <div class="panel-heading">
        ID #{{sale.id}}, Vendida el {{sale.date | date : 'dd/MMMM/yyyy'}} |

        <i class="fa"
            ng-class="{
                      'fa-clock-o' : sale.status == 'Pendiente',
                      'fa-money' : sale.status == 'Pagado',
                      'fa-truck' : sale.status == 'Enviando',
                      'fa-truck' : sale.status == 'Enviando',
                      'fa-check-circle' : sale.status == 'Finalizado',
                      'fa-times-circle' : sale.status == 'Cancelado'
            }">
        </i>
        {{sale.status}}

        <div class="buttons">
            <button class="btn btn-xs btn-default"
                    ng-show="sale.status != 'Enviando'
                    && sale.status != 'Cancelado'
                    && sale.payment.status == 'Pagado'
                    && sale.delivery.status == 'Pendiente'">
                <i class="fa fa-barcode"></i> Ajuntar Guía
            </button>
            <button class="btn btn-xs btn-default"
                    ng-hide="sale.payment.status == 'Pagado'
                    || sale.status == 'Finalizado'
                    || sale.status == 'Cancelado'">
                <i class="fa fa-money"></i> Marcar Pagado
            </button>
            <button class="btn btn-xs btn-default"
                    ng-show="sale.status != 'Enviando'
                    && sale.status != 'Cancelado'
                    && sale.payment.status == 'Pagado'
                    && sale.delivery.status == 'Pendiente'">
                <i class="fa fa-truck"></i> Solicitar Envío
            </button>
            <button class="btn btn-xs btn-default"
                    ng-show="sale.status == 'Enviando'">
                <i class="fa fa-truck"></i> Cancelar Envío
            </button>
            <button class="btn btn-xs btn-danger"
                    ng-show="sale.status != 'Enviado'
                    && sale.status != 'Cancelado'
                    && sale.status != 'Finalizado'">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                <i class="fa fa-user"></i> <strong>{{sale.name}}</strong><br>
                &nbsp;&nbsp;&nbsp;&nbsp;({{sale.user}})
                <br><br>
                <i class="fa fa-envelope-o"></i> {{sale.email}}
            </div>
            <div class="col-xs-12 col-lg-3">
                <i class="fa fa-truck"></i>
                {{sale.delivery.courier}}
                <blockquote>{{sale.delivery.address}}</blockquote>
                <div ng-show="sale.delivery.status == 'Enviado'">
                    <i class="fa fa-barcode"></i> {{sale.delivery.trackCode}}
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <i class="fa fa-archive"></i> Paquete:
                <ul>
                    <li ng-repeat="product in sale.package">
                        {{product}}
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-lg-3">
                <i class="fa fa-usd"></i>
                <strong class="total">Total: {{sale.payment.total + sale.shippingCost | currency}}</strong> <br>
                Producto: {{sale.payment.total | currency}} <br>
                Envío: {{sale.delivery.cost | currency}} <br>
                Ganancia: {{(sale.payment.total - sale.payment.rawMaterial - sale.payment.commission)  | currency}}
                <a href="#" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content="
                    Producto: {{sale.payment.total | currency}}<br>
                    Comisión: -{{sale.payment.commission | currency}}<br>
                    M. Prima: -{{sale.payment.rawMaterial | currency}}<br>
                    Dividendo: -{{(sale.payment.total - sale.payment.rawMaterial - sale.payment.commission) * 0.30 | currency}}">
                <i class="fa fa-info-circle"></i>
                </a>

                <div class="payment-status">
                    <i class="fa fa-money"></i>
                    {{sale.payment.status}}
                </div>
            </div>
        </div>
    </div>
</div>