[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.table>tfoot>tr>td {
  font-weight: bold;
  vertical-align: bottom;
  border-top: 2px solid #DDD;
}


.ng-invalid.form-control {
  border-color: #A94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #666;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#page-wrapper {
	padding-bottom: 200px;
}

.navbar-form {
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.sale,
.shipment {
  position: relative;
  display: block;
}

.sale .panel-heading button .fa {
    color: white !important;
}

.sale .panel-heading:after {
  content: "";
  display: table;
  clear: both;
}

.sale .panel-body .fa {
    color: #616060;
}

.sale .panel-heading .btn-default .fa {
    color: #333 !important;
}

.sale i.fa-info-circle {
  cursor: pointer;
}

.add-sale-form,
.add-expense-form {
    position: relative;
}

.sale .spinner,
.shipment .spinner,
.add-sale-form .spinner,
.add-expense-form .spinner{
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}

.add-expense-form .spinner{
    margin: 20px auto;
}

.sale.loading .spinner,
.shipment.loading .spinner,
.add-sale-form.loading .spinner{
  display: block;
}

.sale.loading .panel,
.shipment.loading .panel,
.add-sale-form.loading form,
.add-expense-form.loading form {
  opacity: 0.4;
}

.green {
    color: #449d44 !important;
}

.red {
    color:  #A00 !important;
}

.shipment .buttons {
	float: right;
}

blockquote {
	margin-top: 5px;
	font-size: 0.9em;
    white-space: pre;
}

.shipment .info .btn-guia {
	margin-top: 5px;
}

.shipment .notes h4 {
	display: block;
	border-top: 1px solid #ddd;
	margin-top: 15px;
	padding-top: 10px;
}

.table-sales ul {
	padding: 0;
	list-style: square;
}

.sale ul {
	list-style: square;
	padding-left: 20px;
	margin-top: 5px;
}

.sale blockquote {
	padding: 0 0 0 10px;
    margin-bottom: 10px;
}

.sale .payment-status {
    margin-top: 10px;
}

/*.sale span {
	display: block;
}*/

.sale strong.total,
.modal strong.total {
	font-size: 1.2em;
}

.sale .buttons {
	float: right;
}

.pagination .btn {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
	.shipment h4 {
		display: block;
		border-top: 1px solid #ddd;
		margin-top: 15px;
		padding-top: 10px;
	}

	.shipment .info h4 {
		border-top: 0;
		margin-top: 0;
		padding-top: 0;
	}
}

@media screen and (min-width: 990px) {
	.shipment .actions {
		text-align: right;
	}
}

@media screen and (max-width: 768px) {
	.shipment .actions {
		text-align: right;
	}
}