.shipment .status {
	float: right;
}

.shipment .info blockquote {
	margin-top: 5px;
	font-size: 0.9em;
}

.shipment .info .btn-guia {
	margin-top: 5px;
}

@media screen and (max-width: 768px) {
	.shipment .package h4 {
		display: block;
		border-top: 1px solid #ddd;
		margin-top: 15px;
		padding-top: 10px;
	}
}

@media screen and (min-width: 990px) {
	.shipment .actions {
		text-align: right;
	}
}

@media screen and (max-width: 768px) {
	.shipment .actions {
		text-align: right;
	}
}